<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<h1>Burgers!</h1>

<ul>
    <h2>EAT MEEEE!!!</h2>
  {{#each burgers}}
    {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>


<ul>
    <h2>WASN'T I TASTY!</h2>
  {{#each burgers}}
    {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<form>
  <div class="form-group">
    <label for="burgerAdd">Add a Burger!</label>
    <input type="text" class="form-control" id="add-burger" placeholder="Burger here!">
  </div>
  <button id="burger-submit" class="btn btn-lg pull-right">add burger!</button>

</form>

{{!-- <h2>Cats that are sleepy!</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Cat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Cat</button>
</form> --}}
